<div class="card">
  <p-menubar>
    <ng-template pTemplate="start">
      <img
        src="https://pportalgis.vivienda.gob.pe:8443/app_oeee/geovisor/images/logo.png"
        alt="Image"
        height="50"
        class="mb-1"
      />
    </ng-template>
  </p-menubar>
</div>
<div class="container">
  <div class="card">
    <img src="assets/images/portada/citv.jpg" />
    <h4>BONO DE ATENCION DE EMERGENCIAS</h4>
    <button
      pButton
      pRipple
      label="Ingresar sin usuario"
      icon="pi pi-map"
      class="w-full"
      routerLink="/viewers/GeoVisorMovil"
    ></button>
  </div>
  <div class="card">
    <img src="assets/images/portada/bfh.jpg" />
    <h4>BONO FAMILIAR HABITACIONAL</h4>
    <a href="#">Ingresar</a>
  </div>
  <div class="card">
    <img src="assets/images/portada/bpvvrs.jpg" />
    <h4>BONO DE PROTECCION DE VIVIENDAS VULNERABLES A LOS RIESGOS SISMICOS</h4>
    <a href="#">Ingresar</a>
  </div>
</div>
