@import "https://js.arcgis.com/4.27/esri/themes/dark/main.css";

.esri-view {
  padding: 0;
  margin: 0;
  height: 92%;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#mapViewNode {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
